* {
    font-family: "Space Mono", serif;
    color: white;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}


html {
    background-image: url("../images/bg1.jpg");
    background-size:auto;
    background-color: antiquewhite;
}



.header , .footer{
    background:rgba(0,0,0,0.33);
    height: 10vh;
    text-align: center;
    backdrop-filter: blur(10px);
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: none;
    backdrop-filter: blur(50px);
    border-radius: 8px;
    margin: 5px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    background: repeating-linear-gradient( 45deg,rgba(0,0,0,0.5), rgba(0,0,0,0.5) 5px, #071252 5px, #029297 25px );
    border-radius: 8px 0px 0px 8px;
}


.switch{
    display: flex;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    background: repeating-linear-gradient( -45deg, rgba(255,255,255,.5), rgba(255,255,255,1) 5px, #b9f9fc 5px,#575e86 25px);
}

.title{
   margin: 30vh 0vh 0vh 0vh;
   font-weight: 700;
}

.login .title{
    margin-top: 20px;
    margin-bottom: 17.5px;
}

 #switch-title{
    writing-mode: vertical-lr;
    padding: 0px 10px 0px 10px;
    color: black;
}


.myform {
    display: flex;
    flex-direction: column;
}

.eachform {
    display: flex;
    flex-direction: column;
    margin: 8px;
    align-items: center;
    justify-content: space-around;
}

.end{
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    font-size: 19px;
    font-weight: 500;
    text-align:center;
    max-width: 100%;
    
}



input[type=text], input[type=password] {
    font-size: 17.5px;
    color: black;
    font-weight: 500;
    text-align: center;
    width: 80%;
    border-radius: 80px;
    border-style: none;
    padding: 0px 15px;
}

button {
    margin: 5px;
    border-style: none;
    border-radius: 25px ;
    width: 100%;
    max-width: min-content;
    padding: 10px;
}
button p{
    font-size: 17.5px;
    color: black;
    font-weight: 500;

}







