* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}


html {
    background-image: url("../images/bg1.jpg");
    background-size:auto;
}



.header , .footer{
    background:rgba(0,0,0,0.5);
    height: 9vh;
    text-align: center;
    backdrop-filter: blur(10px);
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82vh;
}

#box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: none;
    backdrop-filter: blur(10px);
    transition: 1000ms;
    max-width: fit-content;
    transition-timing-function:ease-in-out ;

}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vw 2vw 0vw 2vw;
}

.sep{
    background-color: black;
    opacity: 0.45;
    width: 3.5px;
    margin: 0 15px 0 15px;
}

.switch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 20%;
    margin: 0vw 2vw 0vw 2vw;
}

.title{
   margin: 30vh 0vh 0vh 0vh;
}

.login .title{
    margin-top: 20px;
    margin-bottom: 17.5px;
}

.switch .title {
    margin: 10px;
}

.myform {
    display: flex;
    flex-direction: column;
}

.eachform {
    display: flex;
    flex-direction: column;
    margin: 8px;
    justify-content: space-around;
}

.end{
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    max-width: 100%;
    
}
#switch-title{
    font-size: 16px;
}



input[type=text], input[type=password] {
    font-size: 17.5px;
    color: black;
    font-weight: 500;
    text-align: center;
    width: 80%;
    border-radius: 80px;
    border-style: none;
    padding: 0px 15px;
    margin: 10px;
}

button {
    margin: 5px;
    border-style: none;
    border-radius: 25px ;
    width: 100%;
    max-width: fit-content;
    padding: 10px;
}
button p{
    font-size: 15.5px;
    color: black;
    font-weight: 500;

}



.switch:focus >.box{
    background-color: aqua;
}



